<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MILKLAB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/792b3c2763.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">MILKLAB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div th:if="${user}">
                            <div th:if="${user.isAdmin()}">
                                <a href="Admin" class="nav-link">Администрирование <span th:if="${countOrders}" class="badge badge-light badge-pill" th:text="${countOrders}"></span></a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="menu" class="nav-link">Меню</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Акаунт</a>
                        <div class="dropdown-menu">
                            <div th:if="${user}">
                                <form class="dropdown-item">
                                    <a type="button" class="btn btn-block btn-sm btn-outline-primary" href="account" th:text="${user.name}"></a>
                                </form>
                                <form th:action="@{/logout}" method="post" class="dropdown-item">
                                    <button type="submit" class="btn btn-outline-danger btn-sm btn-block">Выйти</button>
                                </form>
                            </div>
                            <div th:unless="${user}">
                                <form class="dropdown-item">
                                    <a type="button" class="btn btn-outline-primary btn-sm btn-block" href="account">Вход</a>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="contacts" class="nav-link">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a href="information" class="nav-link">О нас</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="jumbotron bg-white" style="margin-top: 55px">
    <div class="container">
        <div th:if="${orderSuccess}">
            <div class="container fixed-top">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <text th:text="${orderSuccess}"></text>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="container ml-0 pl-0 pb-5">
            <h1 class="display-4">Личный кабинет</h1>
            <p class="lead">Вся информация, которую мы знаем о Вас и храним в глубочайшем секрете.</p>
        </div>
        <form>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-row">
                        <label for="staticId" class="col-md-3 col-form-label-lg">Ваш ID:</label>
                        <div class="col-md-auto">
                            <input type="text" readonly name="id" class="form-control-lg form-control-plaintext" id="staticId" th:value="${user.id}" value="Пример"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="staticName" class="col-md-3 col-form-label-lg">Имя:</label>
                        <div class="col-md-auto">
                            <input type="text" readonly name="name" class="form-control-lg form-control-plaintext" id="staticName" th:value="${user.name}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="staticSurname" class="col-md-3 col-form-label-lg">Фамилия:</label>
                        <div class="col-md-auto">
                            <input type="text" readonly name="surname" class="form-control-lg form-control-plaintext" id="staticSurname" th:value="${user.surname}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="staticUsername" class="col-md-3 col-form-label-lg">Телефон:</label>
                        <div class="col-md-auto">
                            <input type="text" readonly name="Username" class="form-control-lg form-control-plaintext" id="staticUsername" th:value="${user.username}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="staticEmail" class="col-md-3 col-form-label-lg">Email:</label>
                        <div class="col-md-auto">
                            <input type="text" readonly name="email" class="form-control-lg form-control-plaintext" id="staticEmail" th:value="${user.email}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="staticDate" class="col-md-3 col-form-label-lg">День рождения:</label>
                        <div class="col-md-auto">
                            <input type="date" readonly name="date" class="form-control-lg form-control-plaintext " id="staticDate" th:value="${user.date}" value="01.08.1998"/>
                        </div>
                    </div>
                    <div class="form-row pt-5 pb-5">
                        <div class="col-md-auto pb-3">
                            <form>
                                <a th:href="@{/account/edit}" type="button" class="btn btn-outline-primary btn-block">Редактировать</a>
                            </form>
                        </div>
                        <div class="col-md-auto">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-outline-danger btn-block">Выйти</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" th:if="${userOrders}">
                    <div th:if="${activeOrders}">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Активные заказы</span>
                        </h4>
                        <div class="list-group mb-3" th:each="a : ${active}">
                            <a class="list-group-item d-flex justify-content-between lh-condensed list-group-item-action" th:href="@{/account/orderInfo/{order.id}(order.id=${a.id})}" >
                                <div>
                                    <h6 class="my-0">
                                        <p class="text-muted">Номер заказа: <text th:text="${a.id}"></text></p>
                                    </h6>
                                    <p class="text-muted mb-0"><text th:text="${a.date}"></text> / <text th:text="${a.time}"></text></p>
                                </div>
                                <span class="fas fa-check" style="color: #28a745"></span>
                            </a>
                        </div>
                        <div th:if="${notActiveOrders}">
                            <button type="button" class="btn btn-block btn-outline-secondary" data-toggle="modal" data-target="#staticBackdrop">
                                Показать закрытые
                            </button>
                        </div>
                    </div>
                    <div th:unless="${activeOrders}">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Последний заказ</span>
                        </h4>
                        <div class="list-group mb-3">
                            <a class="list-group-item d-flex justify-content-between lh-condensed list-group-item-action" th:href="@{/account/orderInfo/{order.id}(order.id=${lastOrder.id})}" >
                                <div>
                                    <h6 class="my-0">
                                        <p class="text-muted">Номер заказа: <text th:text="${lastOrder.id}"></text></p>
                                    </h6>
                                    <p class="text-muted mb-0"><text th:text="${lastOrder.date}"></text> / <text th:text="${lastOrder.time}"></text></p>
                                </div>
                                <span class="fas fa-check-double" style="color: #007bff"></span>
                            </a>
                        </div>
                        <div th:if="${notActiveOrders}">
                            <button type="button" class="btn btn-block btn-outline-secondary" data-toggle="modal" data-target="#staticBackdrop">
                                Показать все
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- AllOrders -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Заказы</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group" th:each="n :${notActive}">
                    <a th:href="@{/account/orderInfo/{order.id}(order.id=${n.id})}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Номер заказа: <text th:text="${n.id}"></text></h5>
                            <span class="fas fa-check-double" style="color: #007bff"></span>
                        </div>
                        <p class="mb-1">Цена: <text th:text="${n.orderCoast}"></text> Руб.</p>
                        <p class="mb-0">Дата: <text th:text="${n.date}"></text></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>