<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MILKLAB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/bootstrap-formhelpers.min.js"></script>
</head>
<body class="bg-light">
<div class="jumbotron bg-light">
    <form class="form" th:action="@{/AdminProducts}" method="post" enctype="multipart/form-data" style="width: 100%; max-width: 400px; padding: 15px; margin: auto; text-align: center;">
        <div class="card">
            <div class="card-footer">
                <img th:src="@{/img/{img}(img=${product.prodImg})}" style="height: 300px; width: 328px" alt="Нет картинки :(">
            </div>
            <div class="card-body">
                <input type="hidden" name="id" th:value="${product.id}">
                <div class="card-text pb-2">
                    <label for="staticGroup">Группа</label>
                    <select class="custom-select text-primary" name="groupId" id="staticGroup" aria-describedby="findGroup">
                        <option class="active" th:value="${product.productGroup.id}" th:text="${product.productGroup.prodGroup}"></option>
                        <div th:each="group : ${groups}">
                            <option th:value="${group.id}" th:text="${group.prodGroup}"></option>
                        </div>
                    </select>
                </div>
                <div class="card-text pb-2">
                    <label for="staticName">Название</label>
                    <input type="text" name="prodName" class="form-control text-primary" id="staticName" th:value="${product.prodName}"/>
                </div>
                <div class="card-text pb-2">
                    <label for="staticInfo">Описание</label>
                    <input type="text" name="prodInfo" class="form-control text-primary" id="staticInfo" th:value="${product.prodInfo}"/>
                </div>
                <div class="card-text pb-2">
                    <label for="staticCoast">Цена</label>
                    <input type="number" name="prodCoast" class="form-control text-primary" id="staticCoast" th:value="${product.prodCoast}"/>
                </div>
                <div class="card-text pb-2">
                    <label for="inputImg">Картинка</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="prodImg" id="inputImg">
                        <label class="custom-file-label" for="inputImg" data-browse="Выбирите"></label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>