<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MILKLAB</title>
    <link href="/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/792b3c2763.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap-formhelpers.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light sticky-top bg-light">
        <a href="/" class="navbar-brand">MILKLAB for admins</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="AdminProducts" class="nav-link">Товары <span th:if="${countStopProducts}" class="badge badge-dark badge-pill" th:text="${countStopProducts}"></span></a>
                </li>
                <li class="nav-item">
                    <a href="AdminCarousels" class="nav-link">Карусель</a>
                </li>
                <li class="nav-item">
                    <a href="AdminOrders" class="nav-link active">Заказы <span th:if="${countNotActiveOrders}" class="badge badge-dark badge-pill" th:text="${countNotActiveOrders}"></span></a>
                </li>
                <li class="nav-item">
                    <a href="AdminAccounts" class="nav-link">Клиенты <span th:if="${countNotActiveUsers}" class="badge badge-dark badge-pill" th:text="${countNotActiveUsers}"></span></a>
                </li>
                <li class="nav-item">
                    <a href="AdminReviews" class="nav-link">Отзывы <span th:if="${countNewReviews}" class="badge badge-dark badge-pill" th:text="${countNewReviews}"></span></a></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="jumbotron pt-3 pb-3 m-0 sticky-top">
    <h1 class="display-4">Заказы <span th:if="${title}">/ <span th:text="${title}"></span></span></h1>
    <div class="row">
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#findOrder">
            Найти заказ
        </button>
        <form th:action="@{/AdminOrders/findActive}" method="post">
            <button  type="submit" class="btn btn-primary m-1">Активные заказы <span th:if="${countNotActiveOrders}" class="badge badge-light badge-pill" th:text="${countNotActiveOrders}"></span></button>
        </form>
        <form th:action="@{/AdminOrders/findNotActive}" method="post">
            <button  type="submit" class="btn btn-primary m-1">Закрытые заказы</button>
        </form>
        <form th:action="@{/AdminOrders/findDelivery}" method="post">
            <button type="submit" class="btn btn-primary m-1">Доставка</button>
        </form>
        <form th:action="@{/AdminOrders/findPickup}" method="post">
            <button type="submit" class="btn btn-primary m-1">Самовывоз</button>
        </form>
        <a href="AdminOrders" class="btn btn-secondary m-1" role="button" aria-pressed="true">Полный список</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="text-center">
        <tr>
            <th>Номер заказа</th>
            <th>Тип</th>
            <th>Состояние</th>
            <th>Телефон</th>
            <th>Имя</th>
            <th>Время</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td>
                <div th:switch="${order.status}">
                    <p th:case="${order.status.DELIVERY}">Доставка</p>
                    <p th:case="${order.status.PICKUP}">Самовывоз</p>
                </div>
            </td>
            <td>
                <div th:if="${order.active}">
                    Активный
                </div>
                <div th:unless="${order.active}">
                    Закрытый
                </div>
            </td>
            <td th:text="${order.user.username}"></td>
            <td th:text="${order.user.name}"></td>
            <td th:text="${order.time}"></td>
            <td th:text="${order.date}"></td>
            <td>
                <div class="pb-2" th:if="${order.active}">
                    <a class="btn btn-dark btn-block" th:href="@{/AdminOrders/close/{order.id}(order.id=${order.id})}">Закрыть</a>
                </div>
                <a class="btn btn-primary btn-block" th:href="@{/AdminOrders/orderInfo/{order.id}(order.id=${order.id})}">Информация</a>
                <a class="btn btn-danger btn-block" th:href="@{/AdminOrders/delete/{order.id}(order.id=${order.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<form th:action="@{/AdminOrders/filterOrders}" method="post">
    <div class="modal fade" id="findOrder" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Найти заказ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ID</span>
                        </div>
                        <input type="text" name="id" class="form-control" aria-label="findId" aria-describedby="findId">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findId">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Номер телефона</span>
                        </div>
                        <input type="text" class="form-control bfh-phone" data-country="RU" name="username" aria-label="findUsername">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findUsername">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Дата</span>
                        </div>
                        <input type="date" name="date"  class="form-control" aria-label="findDate" aria-describedby="findDate">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findDate">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Цена</span>
                        </div>
                        <input type="number" name="orderCoast"  class="form-control" aria-label="findCoast" aria-describedby="findCoast">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findCoast">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>