<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MILKLAB</title>
    <link href="css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/792b3c2763.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap-formhelpers.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light sticky-top bg-light">
        <a href="/" class="navbar-brand">MILKLAB for admins</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="AdminProducts" class="nav-link">Товары <span th:if="${countStopProducts}" class="badge badge-dark badge-pill" th:text="${countStopProducts}"></span></a>
                </li>
                <li class="nav-item">
                    <a href="AdminCarousels" class="nav-link">Карусель</a>
                </li>
                <li class="nav-item">
                    <a href="AdminOrders" class="nav-link">Заказы <span th:if="${countNotActiveOrders}" class="badge badge-dark badge-pill" th:text="${countNotActiveOrders}"></span></a>
                </li>
                <li class="nav-item">
                    <a href="AdminAccounts" class="nav-link active">Клиенты <span th:if="${countNotActiveUsers}" class="badge badge-dark badge-pill" th:text="${countNotActiveUsers}"></span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="jumbotron pt-3 pb-3 m-0 sticky-top">
    <h1 class="display-4">Клиенты <span th:if="${title}">/ <span th:text="${title}"></span></span></h1>
    <div class="row">
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#findAccount">
            Найти клиента
        </button>
        <form th:action="@{/AdminAccounts/findActive}" method="post">
            <button  type="submit" class="btn btn-primary m-1">Активные клиенты</button>
        </form>
        <form th:action="@{/AdminAccounts/findNotActive}" method="post">
            <button  type="submit" class="btn btn-primary m-1">Заблокированные <span th:if="${countNotActiveUsers}" class="badge badge-light badge-pill" th:text="${countNotActiveUsers}"></span></button>
        </form>
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#newAccount">
            Добавить клиента
        </button>
        <a href="AdminAccounts" class="btn btn-secondary m-1" role="button" aria-pressed="true">Полный список</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="text-center">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
            <th>Email</th>
            <th>День рождения</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.date}"></td>
            <td>
                <a class="btn btn-primary btn-block mb-2" th:href="@{/AdminAccounts/{user.id}(user.id=${user.id})}">Изменить</a>
                <div th:if="${user.isActive()}">
                    <form th:action="@{/AdminAccounts/blockAccount/{user.id}(user.id=${user.id})}" method="post">
                        <button type="submit" class="btn btn-dark btn-block">Заблокировать</button>
                    </form>
                </div>
                <div th:unless="${user.isActive()}">
                    <form th:action="@{/AdminAccounts/activeAccount/{user.id}(user.id=${user.id})}" method="post">
                        <button type="submit" class="btn btn-dark btn-block">Разблокировать</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- FilterAccount-->
<form th:action="@{/AdminAccounts/filterAccounts}" method="post">
    <div class="modal fade" id="findAccount" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Найти клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ID</span>
                        </div>
                        <input type="text" name="id" class="form-control" aria-label="findId" aria-describedby="findId">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findId">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Имя</span>
                        </div>
                        <input type="text" name="name" class="form-control" aria-label="findName" aria-describedby="findName">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findName">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Фамилия</span>
                        </div>
                        <input type="text" name="surname" class="form-control" aria-label="findSurname" aria-describedby="findSurname">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findSurname">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Номер телефона</span>
                        </div>
                        <input type="text" class="form-control bfh-phone" data-country="RU" name="username" aria-label="findUsername">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findUsername">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="email" name="email" class="form-control" aria-label="findEmail" aria-describedby="findEmail">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findEmail">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">День рождения</span>
                        </div>
                        <input type="date" name="date" class="form-control" aria-label="findDate" aria-describedby="findDate">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findDate">Найти</button>
                        </div>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Доступ</span>
                        </div>
                        <select class="custom-select" name="role" aria-describedby="findDate">
                            <option selected value="">Не выбранно</option>
                            <option value="ADMIN">Админ</option>
                            <option value="USER">Пользователь</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="findRole">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- NewAccount -->
<form th:action="@{/AdminAccounts/newAccount}" method="post">
    <div class="modal fade" id="newAccount" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">Добавить клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Имя</span>
                        </div>
                        <input type="text" name="name" class="form-control" aria-label="Name" aria-describedby="findName" required>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Фамилия</span>
                        </div>
                        <input type="text" name="surname" class="form-control" aria-label="Surname" aria-describedby="findSurname" required>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Номер телефона</span>
                        </div>
                        <input type="text" class="form-control bfh-phone" data-country="RU" name="username" aria-label="Username" required>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input type="email" name="email" class="form-control" aria-label="Email" aria-describedby="findEmail" required>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">День рождения</span>
                        </div>
                        <input type="date" name="date" class="form-control" aria-label="Date" aria-describedby="Date" required>
                    </div>
                    <div class="input-group pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Пароль</span>
                        </div>
                        <input type="password" name="password" class="form-control" aria-label="Password" aria-describedby="passwordHelp" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>