<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MILKLAB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/bootstrap-formhelpers.min.js"></script>
</head>
<body>
    <div class="jumbotron bg-light mb-0">
        <div class="container">
            <h1 class="display-4">Номер заказа: <text th:text="${order.id}"></text></h1>
            <hr>
            <div th:if="${order.address}">
                <p>Доставка</p>
                <p>Адрес: <text th:text="${order.address}"></text></p>
                <hr>
            </div>
            <div th:unless="${order.address}">
                <p>Самовывоз</p>
                <hr>
            </div>
            <div th:if="${order.active}">
                <p>Статус: Активный</p>
                <hr>
            </div>
            <div th:unless="${order.active}">
                <p>Статус: Закрыт</p>
                <hr>
            </div>
            <p>Дата: <text th:text="${order.date}"></text></p>
            <p>Время: <text th:text="${order.time}"></text></p>
            <p>Сумма: <text th:text="${order.orderCoast}"></text> Руб.</p>
        </div>
    </div>
<div class="container">
    <div class="card-deck">
        <div th:each="product : ${orderInfo}">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title text-muted" th:text="${product.prodName}"></h5>
                </div>
                <div class="card-footer">
                    <p class="card-text text-center">
                        Цена:
                        <text th:text="${product.prodCoast}"></text>
                        Руб./шт.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-outline-secondary btn-block" onclick="history.back();" value="Назад"/>
</div>
</body>
</html>
