<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MILKLAB</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="js/bootstrap-formhelpers.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container ml-0 pl-0">
              <h1 class="display-4">Регистрация</h1>
              <p class="lead">Заполните все поля, чтобы мы смогли сделать Ваш визит безупречным.</p>
            </div>
            <form th:action="@{/registration}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">Имя</label>
                      <input type="text" name="name" class="form-control" id="inputName" placeholder="Имя" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputSurname">Фамилия</label>
                      <input type="text" name="surname" class="form-control" id="inputSurname" placeholder="Фамилия" required>
                    </div>
                  </div>
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" required>
                  <small id="emailHelp" class="form-text text-muted">Мы никогда никому не передадим Вашу электронную почту.</small>
                </div>
                <div class="form-group">
                  <label for="inputDate">День рождения</label>
                  <input type="date" name="date" class="form-control" id="inputDate" aria-describedby="dateHelp" placeholder="Дата" required>
                  <small id="dateHelp" class="form-text text-muted">Специальные предложения в Ваш день!</small>
                </div>
                  <div class="form-group">
                    <label for="inputPhone">Номер телефона</label>
                      <input type="text" name="username" class="form-control bfh-phone" data-country="RU" id="inputPhone" aria-describedby="phoneHelp" placeholder="Номер телефона" required>
                      <small id="phoneHelp" class="form-text text-muted">Будет использоватся Вами для входа в аккаунт.</small>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword">Пароль</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Пароль" required>
                    <small id="passwordHelp" class="form-text text-muted">Только тс-с...</small>
                  </div>
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
              </form>
          </div>
    </body>
</html>
